.Container{
    width: 100%;
    margin: auto;
    margin-bottom: 140px;
    .Started{
        width: 95%;
        margin: 20px auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 900;
        .content{
            width: 35%;
            margin: auto;
            h1{
                font-size: 4rem;
                font-weight: bold;
                color: var(--VeryDarkViolet);
            }
            p{
                font-size: 1.3rem;
                color: var(--GrayishViolet);
                margin-bottom: 20px;
            }
        }
        img{
            position: relative;
            left: 10px;
            width: 50%;
        }
        @media screen and (max-width:840px) {
            width: 100%;
        }
        @media screen and (max-width:600px) {
            flex-direction: column-reverse;
            .content{
                width: 70%;
            }
            img{
                width: 80%;
            }
        }
        
    }

    .bStart{
        background-color: var(--Cyan);
        padding: 15px;
        width: 150px;
        font-size: 1.2rem;
        font-weight: 900;
        line-height: 5px;
        height: 40px;
        color: #fff;
        border-radius: 20px;
        &:hover{
            cursor: pointer;
            opacity: 0.5;
            
        }
    }

}